@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html{
    font-family: "space Grotesk",sans-serif;
    font-weight: 700;
    font-size: 18px;
}


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-snap-align: start;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
