@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&family=Righteous&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;

}


html {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

.space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

.righteous {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
