.overview{
    max-width: 1380px;
    padding-inline: 20px;
    margin: 20px auto;
}

.Faq{
    transform: none;
    transform-origin: 50% 50% 0px ;
}

.answer{
    opacity: 1;
    height: auto;
}

/*.Faq {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 100%;
    /* Set an initial max-height for the dropdown 
}

.answer {
    max-height:0;
    transition: max-height 0.8s ease-in-out;
}*/