.overview{
    max-width: 1380px;
    padding-inline: 20px;
    margin: 20px auto;
}

.Faq{
    transform: none;
    transform-origin: 50% 50% 0px ;
}

.answer{
    opacity: 1;
    height: auto;
}

/*.Faq {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 100%;
    /* Set an initial max-height for the dropdown 
}

.answer {
    max-height:0;
    transition: max-height 0.8s ease-in-out;
}*/

@media (min-width:768px ) and (max-width:1025px) {

    .awards .winner{
        width: 220px;
        height: 320px;
    }
    .awards .winner img{
        width: 200px;
        height: 200px;
    }

    .awards .welldone{
        width: 190px;
        height: 290px;
    }

    .awards .welldone img {
        width: 180px;
        height: 180px;
    }

    .award{
        max-width: 700px;
    }
}

.partners{
    color: transparent;
    border: 3px solid rgb(219, 71, 177);
    padding:50px 60px;
    border-radius: 5px;
}